<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
    <div id="main">
        <div id="img-div">
            <img src="../images/elon_musk.png" alt="" id="image">
            <header id="title">
                <h1>Elon Musk</h1>
                <p id="img-caption">The First Man on Mars</p>
            </header>
        </div>
        <div id="tribute-info">
            <div id="first-para">
                <h2><b>Who is Elon Musk?</b></h2>
                <p>
                    Elon Reeve Musk (born June 28, 1971) is a South African-born American entrepreneur and businessman who founded X.com in 
                    1999 (which later became PayPal), SpaceX in 2002 and Tesla Motors in 2003. Musk became a multimillionaire in his late 20s 
                    when he sold his start-up company, Zip2, to a division of Compaq Computers. Musk made headlines in May 2012, when SpaceX 
                    launched a rocket that would send the first commercial vehicle to the International Space Station. He bolstered his portfolio with the purchase of SolarCity in 2016, 
                    and cemented his standing as a leader of industry by taking on an advisory role in the early days of President Donald Trump's administration.
                </p>
            </div>
            <div id="second-para">
                <h2><b>Education</b></h2>
                <p>
                    At age 17, in 1989, Elon Musk moved to Canada to attend Queen’s University and avoid mandatory 
                    service in the South African military. He left in 1992 to study business and physics at the 
                    University of Pennsylvania. He graduated with an undergraduate degree in economics 
                    and stayed for a second bachelor’s degree in physics.
                </p>
                <p>
                    Read more of him <a href="https://www.biography.com/people/elon-musk-20837159" id="tribute-link" target="_blank">here</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>